<p>
  You may email <a href="mailto:justin@railsonmaui.com">Justin Gordon</a> about the refactorings in this tutorial.
  Read more about Justin at his blog <a href="http://www.railsonmaui.com/about/">Rails on Maui</a>.
</p>
