<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This example application teaches 4 Rails Refactoring techniques:
  Concerns, Decorators, Presenters, and Service Objects.
  This example builds on the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  by Michael Hartl.
</p>
