<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact Justin Gordon regarding about this tutorial at the contact information listed on:
  <a href="http://www.railsonmaui.com/about/">Rails on Maui: Justin Gordon</a>
</p>
