<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
Please comment about this tutorial in either the
<a href="https://github.com/justin808/fat-code-refactoring-techniques/issues">fat-code-refactoring-techniques Github Issues</a>
or in the <a href="https://github.com/justin808/fat-code-refactoring-techniques/pulls">pull requests</a>.
</p>
<%= render 'contact_justin' %>
<p>
  Additional References:
  <ul>
    <li>
      <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
    </li>
    <li>
      <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
    </li>
  </ul>
</p>
