<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
Please comment about this tutorial in either the
<a href="https://github.com/justin808/fat-code-refactoring-techniques/issues">fat-code-refactoring-techniques Github Issues</a>
or in the <a href="https://github.com/justin808/fat-code-refactoring-techniques/pulls">pull requests</a>.
</p>
<p>
  Contact Justin Gordon regarding about this tutorial at the contact information listed on:
  <a href="http://www.railsonmaui.com/about/">Rails on Maui: Justin Gordon</a>
</p>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
