<li>
  <span class="content"><%= micropost.content %></span>
  <%= micropost.decorate.posted_ago %>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
</li>
