<footer class="footer">
  <small>
    <a href="http://www.railsonmaui.com/">Rails On Maui Blog</a>
    by Justin Gordon
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
